<nav ng-class="activeMenu ? 'openNav':''">
    <div class="navHeader">
        <img src="img/avatar.png" alt="..." ng-click="toggleNav()">
    </div>
    <li class="menu" ng-repeat="p in menu.Primary" ng-click="toggleActive(p.id,'active')" id="{{p.id}}">
        <a>
            <i class="glyphicon glyphicon-{{p.icon}}"></i> {{p.name}}
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul class="submenu">
            <li ng-repeat="s in menu.Secondary | filter:{parent:p.id}">
                <a href="{{s.ruta}}">{{s.name}}</a>
            </li>
        </ul>
    </li>
    <div ng-class="activeMenu ? 'nav-footer open': 'nav-footer' ">
        <a href="" data-toggle="modal" data-target="#modalSession">
            <span class="glyphicon glyphicon-off"></span>
        </a>
    </div>
</nav>
<div ng-class="activeMenu ? 'header closeNav':'header' ">
    <div class="menuHeader">
        <i class="glyphicon glyphicon-menu-hamburger" ng-click="toggleNav()"></i>
    </div>
</div>
<div ng-class="activeMenu ? 'content closeNav':'content' ">
    <div class="container">
        <div class="panel  panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSession" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cerrar sesion</h4>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro(a) que desea salir de la aplicacion?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="signOut()">Si</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
</div>