<div id="message" class="animate">
    <div class="imgcontainer">
        <img src="img/avatar.png" alt="Avatar" class="avatar">
    </div>
    <input type="email" placeholder="Enter Username" id="uname" ng-model="uname" ng-keyup ="alert = false" required>
    <input type="password" placeholder="Enter Password" id="psw" ng-model="psw" ng-keyup ="alert = false" required>
    <div class="btnLogin" ng-click="loginEP()">Login</div>
    <div id="container"></div>
    <div class="loginBtn loginBtn--google" ng-click="loginPopup()">Login with Google</div>
    <div ng-if="alert" class="alert alert-danger" role="alert">
        {{load}}
    </div>
</div>